.BlackImage{
    position: relative;
}
.BlackImage img{
    width: 100%;
    height: 100%;
    opacity: .3; 
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: grayscale(1);
}
.BlackImage svg.hero-triangles {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 15%;
}
.BlackImage .primary-triangle {
    fill: #d67456;
    opacity: .7;
}
.BlackImage .gray-triangle {
    fill: #000;
    opacity: .5;
}
.BlackImage h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 4.5em;
    text-transform: capitalize;
    letter-spacing: 6px;
    font-weight: 300;
    color: rgb(138, 136, 136);
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 5%;
    -webkit-transform: translateY(-50%); /* WebKit */
    -moz-transform: translateY(-50%); /* Mozilla */
    -o-transform: translateY(-50%); /* Opera */
    -ms-transform: translateY(-50%); /* Internet Explorer */
    transform: translateY(-50%); /* CSS3 */
}
.BlackImage h1 span{
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    color:#444
}
.BaseInformation{
    display: table;
    margin: 0 auto;
}
.BaseInformation .WrapperItemInfor p{
    display: table-cell;
    padding: 8px 0
}
.BaseInformation .WrapperItemInfor p.title{
    text-transform: capitalize;
    font-weight: bold;
    min-width: 100px;
}
.title-section{
    letter-spacing: 2px;
    padding: 20px 0 30px 0;
    position: relative;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #142149;
}
.AvatarDeveloper{
    text-align: right;
    padding-right: 30px;
    line-height: 0;
}
/* Medium devices (desktops, 992px to 1199px and down) 
= @media (min-width: 992px) col-xl-*/
@media screen and (max-width: 1320px) {
	
}
/* Medium devices (desktops, 992px to 1199px and down) 
= @media (min-width: 992px) col-lg-*/
@media screen and (max-width: 1199.98px) {
	.BlackImage h1{
        font-size: 3em;
    }
    .BlackImage h1 span{
        font-size: 1.5rem;
    }
}
/*Tablet devices (768px to 992px and down) col-md-*/
@media screen and (max-width: 991.98px) {
	.BlackImage h1{
        font-size: 2rem;
    }
}
/*Medium devices (Small devices, 576px to 768px) col-sm-*/
@media screen and (max-width: 767.98px) {
    .BlackImage h1{
        letter-spacing: 5px;
        font-size: 2rem;
    }
    .BaseInformation>tbody>tr>td.title{
        display: block
    }
    .AvatarDeveloper{
        text-align: center;
        margin-top: -80px
    }
    .AvatarDeveloper img{
        border-radius: 50%;
        width: 180px;
    }
    .title-section{
        text-align: center
    }
}
/* Small devices (landscape phones, 576px and up) col-xs-*/
@media screen and (max-width: 575.98px) {
    .BlackImage h1{
        top: 40%;
        letter-spacing: initial;
        font-size: 1.7rem;
    }
    .BlackImage h1 span{
        font-size: 18px;
    }
    .AvatarDeveloper img{
        width: 120px;
    }
}

