/*
Author: TRƯƠNG THANH HÙNG
Author URI: https://www.facebook.com/HungSmurf
*/
@charset "UTF-8";
/**
* css begin 
* col-number
*/
.HeaderComponent{
    border-bottom:1px solid #eee;
    padding: 10px 80px 0 20px;
}
ul.PC-MenuLeft{
    padding-top: 15px;
    padding-bottom: 10px;
}
ul.PC-MenuLeft>li{
    float: left;
}
ul.PC-MenuLeft>li>a{
    cursor: pointer;
    display: block;
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    font-size: 13px;
    color: #5e1308;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
ul.PC-MenuLeft>li>a.active, ul.PC-MenuLeft>li>a.active .svg-inline--fa .fa-secondary{
    color: #ee4266;
    fill: #ee4266;
    opacity: 1;
}
ul.PC-MenuLeft>li>ul.submenu{
    text-align: left;
    border-top: 2px solid #ee4266;
    -webkit-box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
    border-left: 1px solid #edf0f5;
    border-right: 1px solid #edf0f5;
    border-bottom: 1px solid #edf0f5;
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    /**begin css hide ul submenu*/
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-top: 30px;
    /**end css hide ul submenu*/
    /**begin animation */
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}
ul.PC-MenuLeft>li>ul.submenu.active{
    z-index: 1;
    opacity: 1;
    margin-top: 0;
}
/**css ul.submenu */
ul.submenu>li{
    min-width: 200px;
}
ul.submenu>li>a{
    color: #868995;
    font-size: 12px;
    padding: 9px 20px;
    display: block;
    text-transform: none;
    letter-spacing: normal;
    text-transform: capitalize;
}
ul.submenu>li>a:hover{
    background: #f4f5f9;
    color: #25262a;
}
/* Medium devices (desktops, 992px to 1199px and down) 
= @media (min-width: 992px) col-xl-*/
@media screen and (max-width: 1320px) {
	
}
/* Medium devices (desktops, 992px to 1199px and down) 
= @media (min-width: 992px) col-lg-*/
@media screen and (max-width: 1199.98px) {
	
}
/*Tablet devices (768px to 992px and down) col-md-*/
@media screen and (max-width: 991.98px) {
	
}
/*Medium devices (Small devices, 576px to 768px) col-sm-*/
@media screen and (max-width: 767.98px) {
	.HeaderComponent{
        border-bottom:1px solid #eee;
        padding: 10px 10px 0 0;
    }
    ul.PC-MenuLeft{
        padding-top: 15px;
        padding-bottom: 10px;
    }
    /**
    * css menu small
    */
    .Small-Icon-Push-Right svg{
        position: absolute;
        top: 6px;
        right: 10px;
        border: 1px solid #f6f6f6;
        width: 25px;
        height: 25px;
        vertical-align: 0;
        background-color: #f2f2f2;
    }
    .Small-Wrapper-Menu{
        position: relative;
    }
    .Small-Wrapper-Menu.active::before{
        content: ".";
        color: transparent;
        background-color: #25262a;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.3;
    }
	.BTN-Small-Toggle-Menu{
        position: absolute;
        right: 0;
        top: 15%;
    }
    .Small-Wrapper-Menu.active .BTN-Small-Toggle-Menu{
        background-color: white!important;
        position: fixed;
        right: 20px;
        top: 40px;
        padding: 5px 7px 3px 7px;
        -webkit-transform: translateY(-50%); /* WebKit */
        -moz-transform: translateY(-50%); /* Mozilla */
        -o-transform: translateY(-50%); /* Opera */
        -ms-transform: translateY(-50%); /* Internet Explorer */
        transform: translateY(-50%); /* CSS3 */
    }
    .Small-Wrapper-Menu .Small-Fixed-Sidebar{
        position: fixed;
        z-index: 3;
        width: 200px;
        background-color: #fff;
        float: none!important;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        border-right: 1px solid #edf0f5;
        left: -210px;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s;
    }
    .Small-Wrapper-Menu.active .Small-Fixed-Sidebar{
        left: 0;
    }
    .Small-Wrapper-Menu .Small-Fixed-Sidebar ul.PC-MenuLeft>li{
        float: none!important;
    }
    .Small-Wrapper-Menu .Small-Fixed-Sidebar ul.PC-MenuLeft>li>a{
        text-align: left;
        font-size: 15px;
        padding: 10px 10px 0 20px;
    }
    .Small-Wrapper-Menu .Small-Fixed-Sidebar ul.PC-MenuLeft>li>ul.submenu{
        margin-top: 0;
        height: 0;
        overflow: hidden;
        border: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        padding-left: 12px
    }
    .Small-Wrapper-Menu .Small-Fixed-Sidebar ul.PC-MenuLeft>li>ul.submenu.active{
        height: auto;
        position: relative;
    }
}
/* Small devices (landscape phones, 576px and up) col-xs-*/
@media screen and (max-width: 575.98px) {
    
}

