.Wrapper-Login {
    width: 100%;
    min-height: 100vh;
    padding: 45px 0;
    text-align: center;
}
.Wrapper-Form-Login{
    padding: 36px 56px 48px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.Form-Login{
    background: #fff;
    box-shadow: 0 4px 32px 0 rgba(10,14,29,.02), 0 8px 64px 0 rgba(10,14,29,.08);
    border-radius: 3px;
    background-color: white;
    margin: 0 auto;
    max-width: 480px;
    min-height: 356px;
    padding: 24px;
}
.Text-Welcome-Login{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #142149;
    text-align: center;
    margin-bottom: 24px
}
.Form-Group{
    display: block;
    margin-bottom: 24px;
    position: relative;
    height: 54px;
}
.Input-Control{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #525666;
    background-color: #fff;
    padding-left: 45px;
    border-radius: 3px;
    font-size: 15px;
    transition: border .3s linear;
    border: 1px solid #ccc;
}
.Input-Control:focus{
    border: 1px solid #007bfc;
}
.Form-Group .icon{
    position: absolute;
    top: 50%;
    left: 15px;
    display: block;
    width: 22px;
    height: 22px;
    z-index: 3;
    -webkit-transform: translateY(-50%); /* WebKit */
    -moz-transform: translateY(-50%); /* Mozilla */
    -o-transform: translateY(-50%); /* Opera */
    -ms-transform: translateY(-50%); /* Internet Explorer */
    transform: translateY(-50%); /* CSS3 */
}
.Forgot-Password{
    display: block;
    text-align: right
}
.Forgot-Password a{
    display: inline-block;
    font-size: 14px;
    text-align: right;
    font-weight: 300;
    line-height: 24px;
    padding: 0!important;
    color: #f5576c;
}
.Forgot-Password a:hover {
    color: #51b9ff;
}
.Btn-Login.btn{
    margin-top: 30px;
    color: #fff;
    background: #007bfc;
    display: block;
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 0;
}
.Register{
    display: block;
    text-align: center;
    padding-top: 20px
}
.Register a{
    display: inline-block;
    text-decoration: none;
    color: #f5576c;
}
.Register a:hover {
    color: #51b9ff;
}
/* Medium devices (desktops, 992px to 1199px and down) 
= @media (min-width: 992px) col-xl-*/
@media screen and (max-width: 1320px) {
	
}
/* Medium devices (desktops, 992px to 1199px and down) 
= @media (min-width: 992px) col-lg-*/
@media screen and (max-width: 1199.98px) {
	
}
/*Tablet devices (768px to 992px and down) col-md-*/
@media screen and (max-width: 991.98px) {
	
}
/*Medium devices (Small devices, 576px to 768px) col-sm-*/
@media screen and (max-width: 767.98px) {
	
}
/* Small devices (landscape phones, 576px and up) col-xs-*/
@media screen and (max-width: 575.98px) {
    .Wrapper-Form-Login{
        padding: 36px 15px 48px;
    }
}

